DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
TWILIO_SID=AC45947ef15c21f42dc1ff760ed9cc0adb
TWILIO_TOKEN=e3311fa2747070e52069cbb18b2efd97