<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shopping Cart</title>
</head>

<body>
  <%- include('partials/nav') %>

    <main>
      <h3 class="title">Pizza oven (Your Cart)</h3>
      <table class="table">
        <thead class="table-headers">
          <tr>
            <th>Pizza</th>
            <th>Toppings</th>
            <th>Details</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-rows">
            
            <td>
              <div class="item-container">
                <p>Pepperoni*</p>
                <img src="/public/img/pepperoni.png" alt="">
              </div>
            </td>

            <td>
              Mozzarella, Pepperoni*, Mozzarella, Pepperoni*, Mozzarella, Pepperoni*, Mozzarella, Pepperoni*, Mozzarella, Pepperoni*
            </td>

            <td>
              <div class="details-container">
                <p>Size: <span>Medium</span></p>
                <div class="btn-container">
                  <a href="/edit">Edit</a>
                  <button>Remove</button>
                </div>
              </div>
            </td>
            <div class= "price">
              <td>
                $9.99
              </td>
            </div>

          </tr>

        </tbody>


        <tfoot>
          <tr>
            <div class="total-container">
              <th>Total</th>
              <th>$9.99</th>
            </div>
          </tr>
        </tfoot>
      </table>
    </main>

  
</body>

</html>
