<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shopping Cart</title>
</head>

<body>
  <%- include('partials/nav') %>

    <main>
      <h3 class="title">Pizza oven (Your Cart)</h3>
      <table class="table">
        <thead class="table-headers">
          <tr>
            <th>Pizza</th>
            <th>Toppings</th>
            <th>Details</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>


          <!-- <tr class="table-rows">
            <td>
              <div class="item-container">
                <p>Deep dish is not real pizza</p>
                <img src="https://freepngimg.com/thumb/pizza/35510-7-pepperoni-pizza.png">
              </div>
            </td>

            <td>
              topping here
            </td>

            <td>
              <div class="details-container">
                <p>Size: <span id="size">smol</span></p>
                <p>Quantity: <span id="quantity">#</span></p>
                <div class="btn-container">
                  <a href="/api/menu/edit" class="edit-btn">Edit</a>
                  <button class="remove-btn">Remove</button>
                </div>
              </div>
            </td>
            <div class="price">
              <td>
                $_.__
              </td>
            </div>
          </tr> -->

          

        </tbody>


        <tfoot class="table-footer">
          <thead>
            <tr>
              <div class="total-container">
                <th class="total-header">Total</th>
                <th class="total-header"></th>
                <th class="total-header"></th>
                <th class="total-header">$9.99</th>
              </div>
            </tr>
          </thead>
        </tfoot>
      </table>
    </main>


</body>

</html>
