<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shopping Cart</title>
</head>

<body>
  <%- include('partials/nav') %>

    <main class='cart-main'>
      <h3 class="title">Pizza Oven <br> (Your Cart)</h3>
      <table class="table">
        <thead class="table-headers">
          <tr>
            <th col="1">Pizza</th>
            <th col="1">Toppings</th>
            <th col="1">Price</th>
          </tr>

          <% for(const id in cart) { %>
            <% const pizzaArr = cart[id].pizzas %>
            <% for(const pizza in pizzaArr) { %>

            <tr class="table-rows">
              <td class="table-data">
                <div class="item-container">
                  <p><%= cart[id].pizzas[pizza].name %></p>
                  <img src="" alt="">
                </div>
              </td>

              <td class="table-data">
                <div class="item-container">
                  <% for (let topping of cart[id].pizzas[pizza].toppings) { %>
                    <p><%=topping %></p>
                    <% } %>
                </div>
              </td>

              <td class="table-data">
                <div class="item-container">
                  <p> $10 </p>
                </div>
              </td>


            </tr>



            <% } %>
          <% } %>



        </thead>
        <tbody>


          <!-- <tr class="table-rows">
            <td>
              <div class="item-container">
                <p>Deep dish is not real pizza</p>
                <img src="https://freepngimg.com/thumb/pizza/35510-7-pepperoni-pizza.png">
              </div>
            </td>

            <td>
              topping here
            </td>

            <td>
              <div class="details-container">
                <p>Size: <span id="size">smol</span></p>
                <p>Quantity: <span id="quantity">#</span></p>
                <div class="btn-container">
                  <a href="/api/menu/edit" class="edit-btn">Edit</a>
                  <button class="remove-btn">Remove</button>
                </div>
              </div>
            </td>
            <div class="price">
              <td>
                $_.__
              </td>
            </div>
          </tr> -->



        </tbody>

        <tfoot class="table-footer">
          <thead>
            <tr>
              <div class="total-container">
                <th class="total-header">Total</th>
                <th class="total-header"></th>
                <th class="total-header">$9.99</th>
              </div>
            </tr>
          </thead>
        </tfoot>
      </table>
      <form method='post' action='/api/menu/checkout' class='btn-container'>
        <button class="checkout-btn">Checkout</button>
      </form>
      </html>
