<!DOCTYPE html>
<html lang="en">

<body>
  <%- include('partials/nav') %>

    <main style="margin: 1em">
      <h3 class="title">Customize Pizza</h3>
      <table class="edit-table">
        <thead>
          <tr>
            <th scope="col">Pizza</th>
            <th scope="col">Cheeses</th>
            <th scope="col">Meats</th>
            <th scope="col">Veggies</th>
            <th scope="col">Stomach storage</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pepperoni*</a></td>
            <td>
              <div>
                <input type="checkbox">
                <label>Mozzarella</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Cheddar</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Feta</label>
              </div>
            </td>
            <td>
              <div>
                <input type="checkbox">
                <label>Pepperoni</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Bacon</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Ham</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Chicken</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Italian Sausage</label>
              </div>
            </td>
            <td>
              <div>
                <input type="checkbox">
                <label>Green Pepper</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Banana Peppers</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Mushrooms</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Black Olives</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Red Onion</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Pineapple</label>
              </div>
              <div>
                <input type="checkbox">
                <label>Tomato</label>
              </div>
            </td>
            <td>
              <div>
                <form>
                  <select name="size" id="size">
                    <option value="byte">byte</option>
                    <option value="megabyte">megabyte</option>
                    <option value="gigabyte">gigabyte</option>
                  </select>
                </form>
              </div>
            </td>
            <div>
              <td class="right">1 BTC</td>
            </div>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">Uploading text animation ======> 60%</th>
            <th>
              <button type="submit" class="right">upload</button>
              </form>
            </th>
          </tr>
        </tfoot>
      </table>
    </main>
</body>

</html>
