<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- <script type="text/javascript" src="/scripts/menu.js"></script> -->
  </head>

  <body>
    <%- include('partials/nav') %>

    <h1>This is the menu!!</h1>
    <% for (let item of result) { let dollarPrice = item.price/100 %>
    <p>
      <span><%= item.name %></span>
      <span>$<%= dollarPrice.toFixed(2) %></span>
      <!-- <img src="<%item.photo_url%>" alt="" /> -->
      <span><%= item.photo_url%></span>
      <button>Add to cart</button>
    </p>
    <% } %>
  </body>
</html>
