<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
  </head>
  <body class="checkout-body">
    <%- include('partials/restNav') %>
<<<<<<< HEAD

    <header id="homepagehead">
      <div class="showcase">
        <h1>Welcome!</h1>
        <a class="order" href="/api/restaurants/login">Login</a>
      </div>
    </header>
=======
    <h3>Welcome!</h3>
    <a class="order" href="/api/menu">Order Now</a>
>>>>>>> a0475980822411d3bf1ef6f311397a208d5e6a3d
  </body>
</html>
