body {
  /* background-color: #174a20; */
  background-color: #73956f;
}

.table {
  border: 2px solid grey;
  width: 90%;
  margin: auto;
}

.title {
  /* margin-top: 175px; */
  text-align: center;
  padding: 12px;
  font-size: 24px;
  color: black;
  /* margin-bottom: 400px; */
}

.cart-main {
  margin-top: 200px;
}

.table-headers {
  background: rgba(115, 149, 111, 0.8);
  width: 100%;
}

.table-headers tr th {
  padding: 12px;
  font-size: 18px;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-container img {
  width: 100px;
  height: 100px;
}

tbody .table-rows {
  padding: 12px;
  font-size: 18px;
  text-align: center;
}

tbody .table-rows td {
  padding: 12px;
  /* border-bottom: 3px solid #a51c30; */
  background-color: rgba(255, 255, 255, 0.9);
}

.total-header {
  padding: 12px;
  background: #a51c30;
  color: black;
  font-size: 24px;
}

.edit-btn {
  width: 80px;
  height: 40px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.remove-btn {
  width: 85px;
  height: 45px;
  border: 2px solid black;
  background: #a51c30;
  color: #f6ebe5;
  padding: 3px;
}

.btn-container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-btn:hover {
  background: #73956f;
  color: white;
}

.remove-btn:hover {
  background: #c52039;
  color: white;
}

.btn {
  width: 80px;
  height: 40px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  outline: none;
}

.btn:hover {
  background: #73956f;
  color: white;
}
