body {
  /* background-color: #174a20; */
  background-color: #73956F;
}

.table {
  border: 1px solid black;
  width: 90%;
  margin: auto;
}

.title {
  text-align: center;
  padding: 12px;
  font-size: 24px;
  color:  black;
}

.table-headers {
  background: #a51c30;
  width: 100%;
}

.table-headers tr th {
  padding: 12px;
  font-size: 18px;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-container img {
  width: 100px;
  height: 100px;
}

tbody .table-rows {
  padding: 12px;
  font-size: 18px;
  text-align: center
}

tbody .table-rows td {
  padding: 12px;
  border-bottom: 3px solid black;
  background-color: #f6ebe5;
}

.total-header {
  padding: 12px;
  background: #a51c30;
  color: black;
  font-size: 24px;
}

.edit-btn {
  width: 80px;
  height: 40px;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.remove-btn {
  width: 85px;
  height: 45px;
  border: 2px solid black;
  background: #a51c30;
  color: #f6ebe5;
  padding: 3px;
}

.btn-container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-btn:hover {
  background: #73956F;
  color: white;
}

.remove-btn:hover {
  background: #c52039;
  color: white;
}
