body {
  background-color: #0A5E2AFF;
  margin-top: 100px;
}

html {
  font-family: "Merienda One", cursive;
}

html table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}
