/*
************ WARNING **************
BE CARFUL WHEN CHANGING THIS FILE
*/

html {
  font-family: "Merienda One", cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

body {
  box-sizing: border-box;
  background-color: #0a5e2aff;
  display: flex;

  align-items: center;
  justify-content: center;

  padding-top: 80px;

  background-image: url("https://images.pexels.com/photos/5088638/pexels-photo-5088638.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

main {
  padding-top: 5vh;
}

#homepagehead {
  position: fixed;
  margin-top: 150px;
  top: 0;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  flex-direction: column;
}

.item-container img {
  width: 100px;
  height: 100px;
}

#complete-body {
  background-image: none;
}

h1 {
  text-align: center;
}
