body {
  background-color: #0a5e2aff;
  margin-top: 100px;
}

html {
  font-family: "Merienda One", cursive;
}

html table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  background-image: url("https://images.pexels.com/photos/5088638/pexels-photo-5088638.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

#homepagehead {
  position: fixed;
  margin-top: 230px;
  top: 0;
}
