.menu-photo {
  width: 100px;
  height: 100px;
}

.desc-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.5em;
}
#menu-table {
  margin-bottom: 40px;
}
