body {
	background-color: #174a20;
	margin-top: 100px;
}
html {
	font-family: "Merienda One", cursive;

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed; /* NEW */
}}

